{% extends 'website/base.html' %}

{% block title %} Accessories {% endblock %}

{% block content %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Particulars</th>
            <th scope="col">Rate</th>
            <th scope="col">Quantity</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        </tr>
        {% for product in products %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ product.particulars }}</td>
            <td>{{ product.rate }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <a href="{% url 'website:description' product.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}